<div id="footercontainer">
  <%= image_tag 'FooterDesign.png' %>
  <div id="outerdiv">
    <div id="innerdiv">
      <div id="contactflexbox">
        <%= link_to(t('footer.contactme'),contact_path, method: "GET") %>
        <%# This link is only for debugging and marking, and wouldn't be in a production build%>
        <%= link_to(t('footer.mailer'),"/rails/mailers") %>
      </div>
      <p>|</p>
      <%= link_to(t('footer.github'),"https://github.com/Khazoda/Adorapet") %>
      <p>|</p>
      <%= content_tag :p, t('footer.copyright') %>
    </div>
  </div>
</div>
