<div id="center">
  <%= content_tag :h1, header,id:"h1" %>
  <% if user_signed_in? %>
    <% if controller.controller_name == "landing_page"%>
      <button id="play">Play</button>
    <% else %>
      <%= button_to 'Home', root_path, id:"gohome", method: :get %>
    <% end %>
  <% end %>

</div>

<div id="right">
  
  <% if user_signed_in? %>
    <%= content_tag :div,content_tag(:p,"0 Likes",class:"likes")+content_tag(:p,"Position",class:"likes"),id:"likesrankcontainer"%>
    <%= link_to image_tag("default_user.png", :alt => "usericon", class:"usericon active"),profilepage_profile_path %>
  <% else %>
    <%= image_tag("default_user.png", :alt => "usericon", class:"usericon") %>
  <% end %>
    
  <% if user_signed_in? %>
  <div>
    <%= content_tag :p, current_user.username,id:"username" %><br/>
    <%= button_to 'Log Out', destroy_user_session_path, id:"logout", method: :delete %>
  </div>
  <% else %>
  <div id="loginsignupcontainer">
    <%= button_to 'Log In', new_user_session_path, id:"login", method: :get %>
    <%= button_to 'Register', new_user_registration_path, id:"register", method: :get %>
  <div>
  <% end %>
    
</div>
