<%# View to display (in the console in this case) when user sends an email from the contact page%>
<p>
  <%= "Dear #{t('app_title')}," %p= "Could you get in touch with me please?" %>
</p>
<p>
  <%= @name %>
</p>
<p>
  <%= @email %>
</p>
<p>
  <%= @message %>
</p>
<p>
  Thanks, <%= @name %>
</p>
